<h1>Rest FILES API</h1>
 
 
<div>add file url -- www.test.dev/files/add</div>

<div>show all files -- www.test.dev/files/ </div>

<div>show file where id=\d+ -- www.test.dev/files/{id} </div>


<div>edit file   send url www.test.dev/files/{id} </div>



<div>version symfony 2.8 </div>