<h1>Rest FILES API</h1>
 
 
<div style='border:1px solid black;'>
    <h4>Add file  url -- www.test.dev/files/add </h4>
    <h5>send POST request parameters  -- file_model[file]</h5>
</div>

<div style='border:1px solid black;'>
   <h4> Show all files Send GET request -- www.test.dev/files/ </h4>
</div>

<div style='border:1px solid black;'>
   <h4> Show file where id=\d+  send GET request -- www.test.dev/files/{id} </h4>
</div>


<div style='border:1px solid black;'>
   <h4> UPDATE file   send PUT request www.test.dev/files/{id} </h4>
</div>
<div style='border:1px solid black;'>
   <h4> Delete file   send DELETE request www.test.dev/files/{id} </h4>
</div>



<div>version symfony 2.8 </div>